<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IHaveGPU</title>
    <!-- ลิ้งกับ css -->
    <link rel="stylesheet" href="Homepage.css" type="text/css">
</head>
<body class="body">
    <header>
        <h1 class="Head1" id="H">IHAVEGPU</h1>
        <div class="Head">
            <!-- ไว้เชื่อมกับหน้าอื่นๆ -->
            <a href="user" alt="Login">Login</a>
            &nbsp;
            &nbsp;
            <span class="white">|</span>
            &nbsp;
            &nbsp;
            <a href="admin" alt="Admin Login">Admin Login</a>
            &nbsp;
            &nbsp;
            <span class="white">|</span>
            &nbsp;
            &nbsp;
            <a href="list" alt="GPU_list">GPU_list</a>
            &nbsp;
            &nbsp;
            <span class="white">|</span>
            &nbsp;
            &nbsp;
            <a href="GPU" alt="manage_GPU">manage_GPU</a>
            &nbsp;
            &nbsp;
            <a href="stores" alt="stores">stores</a>
            &nbsp;
            &nbsp;
            <a href="Customer" alt="Customer">Customer</a>
            &nbsp;
            &nbsp;
            <a href="user_manage" alt="user_manage">user_manage</a>

            
        </div>
    </header>
    <br> 
     <!-- พิ้นหลัง -->
    <div class="backG ">
        &nbsp;

    </div>
    <br>
    <!-- ส่วนเเนะนำเว็บ -->
    <section class="aboutus">
        <div class="container">
            <div class="all">
                <div class="about-title">
                    Why you should buy NVIDIA Graphic Card from our website?
                </div>
                <div class="about-d">
                    "Since our website exclusively sells NVIDIA graphics cards, we have extensive expertise in this particular brand. This specialization allows us to provide better post-sales service compared to stores that sell various types of graphics cards, including regular GPUs. It has made our store highly specialized in this field. Consequently, we are confident in guaranteeing the quality of the products we offer and the services we provide."
    
    
                </div>
                <div class="img">
                    <!-- รูปภาพประกอบ -->
                    <img width="50%" src="nvidiartxlogo.jpg">
                </div>
            </div>
        </div>
    </section>
    <br>
    <!-- รูป footer -->
    <img src="banner.jpg" alt="banner" class="banner" >
</body>

<!-- ส่วนของการติดต่อสนับสนุน -->
<footer class="footer">
    <div class="footer-section">
        <h3>Support</h3>
        <ul>
            <li><a href="#">Report an Issue</a></li>
            <li><a href="#">Request Assistance</a></li>
            <li><a href="#">Technical Support</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>Customer Service</h3>
        <ul>
            <li><a href="#">Customer Account Info</a></li>
            <li><a href="#">Product Delivery</a></li>
            <li><a href="#">Product Returns</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>Contact Us</h3>
        <ul>
            <li><a href="#">Contact Information</a></li>
            <li><a href="#">Customer Service Center</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>Payment Options</h3>
        <ul>
            <li><a href="#">Credit Card Payments</a></li>
            <li><a href="#">Bank Transfers</a></li>
            <li><a href="#">Bank Account Details</a></li>
        </ul>
    </div>
   
</footer>
</html>
