<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store and GPU Information</title>
</head>
<body>
    <h1>Store and GPU Information</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Store Name</th>
                <th>Graphics Card ID</th>
                <th>Brand</th>
                <th>Model</th>
            </tr>
        </thead>
        <tbody>
            {% for item in store_gpu_data %}
            <tr>
                <td>{{ item.store_name }}</td>
                <td>{{ item.graphics_card_id }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.model }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
